{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %} 

{% block main %} 
    <h1> Explore </h1>
    <hr>
    
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
        Click submit after filtering the options. Content will be populated on the right! 
      </div>
    </div>
    
    
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    
    </div>

    <br>
    
    <div class="row" >
        <div style="width:20%; float: left; display: inline-block;"> 
        <form method="POST" action="">
            <h5 class="required-field" stlye="padding-bottom: 5px;">Type of Category</h5>
            <i class="alerttext">You may select multiple categories</i>
            {% for category in category_type %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{category}}" name="category_check" id="{{category}}">
                <label class="form-check-label" for="{{category}}">{{category}}</label>
            </div>
            {% endfor %} 
            
            <br>
            
            <h5>Type of Reaction </h5>
            <i class="alerttext" stlye="padding-bottom: 5px;">Posts with &#8805; 1 of the reaction selected will be shown. Leave blank if you would like to see all posts</i>
            <br>
            {% for reaction in reaction_type %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{reaction}}" name="reaction_check" id="{{reaction}}">
                <label class="form-check-label" for="{{reaction}}">{{reaction}}</label>
            </div>
            {% endfor %} 
            
            <br>

            <h5 class="required-field"  stlye="padding-bottom: 5px;">Sort By</h5>
            {% for sort in sort_type %}
            <div class="form-check">
              <input class="form-check-input" type="radio" value="{{sort}}" name="sort_check" id="{{sort}}">
              <label class="form-check-label" for="{{sort}}">{{sort}}</label>
            </div>
            {% endfor %} 
            
            <br>
          
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
         </div>
        

        <div style="width:80%; float: left; display: inline-block;">
             <table>
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %} 


